body{
  background:#f5d9d5;
  font-family:"Nunito", sans-serif;
}

.par h2{
  color:#EA1C2C;
  font-weight: 100;
  font-size: 2.5rem;
}

.par p{
  color:#f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}
.bg-custom{
  background: rgb(167, 90, 156);
}

#mainNavbar{
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link{
  color:white;
}

#mainNavbar .nav-link:hover{
   color: #EA1C2C;  
}

#mainNavbar .navbar-brand{
  color: #EA1C2C;
}

#headingGroup span{
  color:red;
}

#headingGroup h1{
  font-weight: 100;
  font-size: 3rem;
}

@media(max-width:1050px){
  #headingGroup h1{
    font-size: 2rem;
  }
}