html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-fluid{
    margin:0;
    width: 100%;
    /* reset padding */
    padding-left: 0;
    padding-right:0;
}



.content{
    display: flex;
    margin-right: auto;
    margin-left: 14rem;
    margin-top: 3rem;
    padding: 20px;
    width: 100%;
    min-height: 100vh;

}

/* .content p{
    margin-block-end:15rem;
    margin-inline-end: 20px;
} */

.sideb{
    margin:0;
    padding:0;
}
header{
    margin-left:0;
    padding-left: 0;
    padding:1.5em;
    /* width: 100%; */
    background-color: red;
    color: orangered;
    font-size: large;
}

header a{
    background-color: rgb(219, 159, 120);
    color:rgb(248, 221, 99);
    text-decoration: none;
    font-size:3.5rem;
}

header a:hover{
    text-decoration: none;
    
}
.navigazione{
    margin:0;
    padding:0;
    position: absolute;
    width: 10rem;
    height: 100%;
    background-color: black;
}

.navigazione ul{
    width: 6rem;
    list-style: none;
    margin-top:0.8rem;
    margin-left:0.5rem;
    padding:0rem;
}

.navigazione ul li {
   margin-top:0.8rem;
   margin-bottom:0.3rem;
}

.navigazione ul li a:hover{
    text-decoration: none;
    color:#fff;
}


.navigazione ul .navigazione-brand{
  margin-left:2.2rem;
  font-size:1.5rem;
  color:white;
}

.conheader h1{
    font-size: 5rem;
    color: rgb(130, 230, 31);
}

.navigazione ul .navigazione-brand a{
    color:white;
    padding:0.3rem;
}

.navigazione ul .navigazione-brand a:hover{
    color:lightblue;
    background: none;
}

@media all and (max-width : 576px){
   .content {
       margin-left:auto;
       margin-right: auto;
       align-content: center;

    }
  
}