.container{
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
}

.content{
    margin-left: 14rem;
    margin-top: 2.5rem;
    width: 85%;
}

header{
    padding:1.5em;
    /* width: 100%; */
    background-color: red;
    color: orangered;
    font-size: large;

}

header a{
    background-color: rgb(219, 159, 120);
    color:rgb(248, 221, 99);
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
    
}



.wrapper{
    position: absolute;
    top:5rem;
    left:4rem;
    width: 8rem;
    height: 100%;
    background-color: black;
}

.wrapper ul{
    width: 6rem;
    list-style: none;
    margin-top:0.8rem;
    margin-left:0.5rem;
    padding:0rem;
}

.wrapper ul li {
   margin-top:0.8rem;
   margin-bottom:0.3rem;
}
.wrapper ul li a{
    color:#999;
    text-decoration: none;
    padding:0.3rem;
}

.wrapper ul li a:hover{
    text-decoration: none;
    color:#fff;
}